html, body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}
.development {
  position: absolute;
  bottom: 20px;
  text-align: center;
  vertical-align: bottom;
  margin: auto;
  left: 0;
  right: 0;
  font-family: Courier;
}
